<nav class="flex flex-col h-full p-4 space-y-2">
  <a
    routerLink="/dashboard"
    class="text-gray-700 hover:text-blue-600 font-medium transition"
    routerLinkActive="text-blue-600 font-bold"
    >📊 Dashboard</a
  >
  <a
    routerLink="/leads"
    class="text-gray-700 hover:text-blue-600 font-medium transition"
    routerLinkActive="text-blue-600 font-bold"
    >📋 Leads</a
  >
  <a
    routerLink="/clients"
    class="text-gray-700 hover:text-blue-600 font-medium transition"
    routerLinkActive="text-blue-600 font-bold"
    >🏢 Clients</a
  >
</nav>
